.roundedTile {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	display: inline-block;
	transition-property: transform3d;
	transition-duration: 0.2s;
	margin: 0.5rem;
	border-radius: 110px;
	width: 12rem;
	height: 12rem;
}

.roundedTileContent {
	overflow: hidden;
	width: 12rem;
	height: 12rem;
}

.roundedTileTopRow {
	height: 7rem;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
}

.roundedTileIcon {
	width: 5rem !important;
	height: 5rem !important;
	line-height: 5rem !important;
	font-size: 5rem !important;
	padding-left: 40px !important;
	padding-top: 30px !important;
}

.roundedTileBottomRow {
	height: 2rem;
	padding: 0 1rem 1rem 1rem;
}

.roundedTileTitle {
	line-height: 0.8rem;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
	height: 15px;
	width: 100%;
	overflow: hidden;
	word-break: break-word;
}